extends layout

block content
  h1= name
  h1!= name
  p Welcome, <strong>#{name}</strong> </br>your age is <strong>#{age}</strong> </br>your gender is <strong>#{gender}</strong>

  - var pp= name
    li= pp

  //下面的例子是如何遍历数组的， Echo真棒
  - var collegues= cols//注意接收的变量名与Render进来的变量名字不能一样， 于是就这样解决了困扰我一晚上的问题哟，开心开心
      - each cl in collegues
        li= cl.name
        li= cl.age


  script.
    console.log(#{gender});